
{% extends "_layout/platform/platform_home.html" %}
{% load static %}

{% block content %}

<div id="inicio">
   {% include "home/partials/hero.html" %}
   {% include "home/includes/news.html" %}
   {% include "home/includes/eventos.html" %}
   {% include "home/includes/cultura.html" %}
   {% include "home/includes/empresas.html" %}
   {% include "home/includes/servicos.html" %}
   {% include "home/includes/gastronomia.html" %}
   {% include "home/includes/parques.html" %}
   {% include "home/includes/vagas.html" %}
   {% include "home/includes/ytv.html" %}
   {% include "home/includes/esportes.html" %}
   {% include "home/includes/jogos.html" %}
   {% include "home/includes/prefeitura.html" %}
   {% include "home/partials/turismo.html" %}
   {% include "home/partials/produtos.html" %}
   {% include "home/partials/mapa_cidade.html" %}
   {% include "home/partials/cta.html" %}
</div>

{% endblock %}
