{% extends "_layout/platform/platform_home.html" %}
{% load static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/public/public-system.css' %}">
  {% block public_styles %}{% endblock %}
{% endblock %}

{% block content %}
<div class="public-shell" data-public-shell>
  {% if share_object %}{% load sharing_tags %}{% public_share_actions share_object share_type %}{% endif %}
  {% block public_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% block public_scripts %}{% endblock %}
{% endblock %}
