<nav class="curriculum-steps" aria-label="Etapas do currículo">
  <a href="{% url 'painel:curriculo_etapa' 1 %}"><b>1</b><span>Perfil</span></a>
  <a href="{% url 'painel:curriculo_etapa' 2 %}"><b>2</b><span>Contato</span></a>
  <a href="{% url 'painel:curriculo_experiencias' %}"><b>3</b><span>Experiências</span></a>
  <a href="{% url 'painel:curriculo_formacoes' %}"><b>4</b><span>Formações</span></a>
  <a href="{% url 'painel:curriculo_cursos' %}"><b>5</b><span>Cursos</span></a>
  <a href="{% url 'painel:curriculo_habilidades' %}"><b>6</b><span>Habilidades</span></a>
  <a href="{% url 'painel:curriculo_idiomas' %}"><b>7</b><span>Idiomas</span></a>
  <a href="{% url 'painel:curriculo_projetos' %}"><b>8</b><span>Projetos</span></a>
  <a href="{% url 'painel:curriculo_etapa' 9 %}"><b>9</b><span>Adicionais</span></a>
  <a href="{% url 'painel:curriculo_etapa' 10 %}"><b>10</b><span>Privacidade</span></a>
</nav>
